@media (max-width: 479px) {
  /* MENU TOGGLE*/
  #navTab {
    display: none; }

  #navDes {
    display: none; }

  #headerCap {
    display: none; }

  #headerDes {
    display: none; }

  #menuToggle {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1; }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2; }

  #menuToggle span {
    display: block;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(47deg) translate(2px, -1px);
    background-color: #fff; }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0; }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-47deg) translate(0, -1px); }

  #menu {
    position: fixed;
    margin: -100px 0 0 -50px;
    width: 175px;
    padding-top: 75px;
    background-color: #000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.7s;
    font-style: oblique; }

  #menu li {
    padding: 0px;
    font-size: 1.1em; }

  #menu li:hover {
    color: blue; }

  #menuToggle input:checked ~ ul {
    transform: none; }

  nav {
    text-align: center;
    margin: 0 auto;
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both; }

  nav a {
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    color: #fff; }

  nav a:hover {
    color: blue; }

  #homeHeader {
    clear: both;
    width: 100%;
    height: 675px;
    background-image: url("../images/headerMobile.JPG");
    background-repeat: no-repeat; }

  #headerCaption {
    display: none; }

  #landingText {
    margin-top: 100%; }

  #landingText p {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Avenir', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.4rem;
    font-size: 1.2em;
    animation-name: topFadeOut;
    animation-duration: 3s;
    animation-fill-mode: both; }

  #capDev {
    animation-delay: 3s; }

  #capVid {
    animation-delay: 6s; }

  @keyframes topFadeOut {
    0% {
      top: -3rem;
      opacity: 0; }
    75% {
      top: 25%;
      opacity: 1; }
    100% {
      opacity: 0; } }
  /* Button used to open the contact form - fixed at the bottom of the page */
  .open-button {
    background-color: #fff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 10%;
    text-align: center; }

  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 80%; }

  /* Add styles to the form container */
  .form-container {
    max-width: 100%;
    padding: 10px;
    background-color: white; }

  /* Full-width input fields */
  .form-container input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1; }

  .form-container input[type=message] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1; }

  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none; }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #666;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8; }

  /* Add a red background color to the cancel button */
  .form-container .close {
    float: right;
    border: none; }

  .form-container .submit {
    background-color: green; }

  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1; }

  .formHeader {
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em; }

  .formSub {
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0; } }
@media screen and (min-width: 480px) and (max-width: 769px) {
  #headerDes {
    display: none; }

  #navDes {
    display: none; }

  #homeHeader {
    clear: both;
    width: 100%;
    height: 700px;
    background-image: url("../images/headerTab.JPG");
    background-repeat: no-repeat; }

  #menuToggle {
    display: none; }

  #navTab {
    text-align: center;
    margin: 0 auto;
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), black);
    height: 50px; }

  #navTab a {
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    color: #fff; }

  #navTab a:hover {
    text-shadow: 2px 2px red; }

  header h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Avenir', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.5rem;
    font-size: 1.3em; }

  #landingText {
    display: none; }

  /* Button used to open the contact form - fixed at the bottom of the page */
  .open-button {
    background-color: #fff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 5%;
    text-align: center; }

  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 50%; }

  /* Add styles to the form container */
  .form-container {
    max-width: 100%;
    padding: 10px;
    background-color: white; }

  /* Full-width input fields */
  .form-container input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1; }

  .form-container input[type=message] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1; }

  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none; }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #666;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8; }

  /* Add a red background color to the cancel button */
  .form-container .close {
    float: right;
    border: none; }

  .form-container .submit {
    background-color: green; }

  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1; }

  .formHeader {
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em; }

  .formSub {
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0; } }
@media (min-width: 769px) {
  #menuToggle {
    display: none; }

  #navTab {
    display: none; }

  #headerCap {
    display: none; }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%; }

  #homeHeader {
    clear: both;
    width: 100%;
    height: 700px;
    background-image: url("../images/header.JPG");
    background-repeat: no-repeat; }

  #headerDes {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Avenir', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.5rem;
    font-size: 1.3em;
    margin-top: -270px;
    clear: both;
    margin-bottom: 300px;
    background-image: url("images/headerMob.jpg"); }

  #navDes {
    text-align: center;
    margin: 0 auto;
    font-family: 'Avenir', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    clear: both;
    background-color: #000;
    height: 20px; }

  #navDes a {
    padding-left: 70px;
    padding-right: 70px;
    text-decoration: none;
    color: #fff; }

  #navDes a:active {
    text-shadow: 2px 2px white; }

  #navDes a:hover {
    text-shadow: 2px 2px red; }

  header h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Avenir', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.4rem;
    margin-top: 380px;
    font-size: 1.2em; }

  #landingText {
    display: none; }

  /* Button used to open the contact form - fixed at the bottom of the page */
  .open-button {
    background-color: #fff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 5%;
    text-align: center; }

  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 30%; }

  /* Add styles to the form container */
  .form-container {
    max-width: 100%;
    padding: 20px;
    background-color: white; }

  /* Full-width input fields */
  .form-container input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 0 auto;
    border: none;
    background: #f1f1f1; }

  .form-container input[type=message] {
    width: 90%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    background: #f1f1f1; }

  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none; }

  /* Set a style for the submit/login button */
  .form-container .btn {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8; }

  /* Add a red background color to the cancel button */
  .form-container .close {
    float: right;
    border: none; }

  .form-container .submit {
    background-color: green; }

  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1; }

  .formHeader {
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0; }

  .formSub {
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 5px; }

  .contactBtn {
    color: white; } }
@media (max-width: 479px) {
  #whyHire {
    margin: 5px; }

  #whyHire h2 {
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7em;
    letter-spacing: 0.2em;
    text-shadow: 2px 2px #918d8d; }

  #whyHire h5 {
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.85em;
    font-weight: lighter; }

  #whyHire p {
    font-family: 'Avenir', sans-serif;
    text-align: center;
    font-size: 0.8em;
    font-weight: lighter;
    padding-bottom: 30px; }

  .whyHireIcons {
    width: 65px;
    height: 65px; }

  .qualities {
    width: 50%;
    height: 230px;
    float: left;
    text-align: center; } }
@media screen and (min-width: 480px) and (max-width: 769px) {
  #whyHire {
    margin: 5px; }

  #whyHire h2 {
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 0.3em;
    text-shadow: 2px 2px #8B0505; }

  #whyHire h5 {
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    font-weight: lighter; }

  #whyHire p {
    font-family: 'Avenir', sans-serif;
    text-align: center;
    font-size: 0.8em;
    font-weight: lighter;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px; }

  .whyHireIcons {
    width: 65px;
    height: 65px; }

  .qualities {
    width: 33%;
    height: 250px;
    float: left;
    text-align: center; } }
@media (min-width: 769px) {
  #whyHire {
    margin: 5px;
    width: 80%;
    margin: 0 auto; }

  #whyHire h2 {
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.3em;
    font-weight: lighter;
    margin-top: 80px;
    text-shadow: 2px 2px #8B0505; }

  #whyHire h5 {
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9em;
    font-weight: lighter; }

  #whyHire p {
    font-family: 'Avenir', sans-serif;
    text-align: center;
    font-size: 0.85em;
    font-weight: lighter;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px; }

  .whyHireIcons {
    width: 55px;
    height: 55px; }

  .qualities {
    width: 33%;
    height: 250px;
    float: left;
    text-align: center;
    margin-top: 30px; }

  #indexAbout {
    background-color: #000; }

  #indexAboutTitle {
    text-align: center;
    width: 100%; }

  #indexAboutTitle img {
    position: relative; }

  #indexAboutTitle h2 {
    position: absolute;
    top: 650px;
    font-family: 'Avenir', sans-serif;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-left: 410px;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 3.5em;
    letter-spacing: 0.4em; }

  #indexAboutTitle {
    margin: 0; }

  #indexAboutText {
    font-family: 'Avenir', sans-serif;
    font-size: 1em;
    width: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 0; }

  #indexAboutText p {
    width: 55%;
    text-align: center;
    margin: 0 auto;
    color: #f1f1f1;
    padding-bottom: 50px;
    font-weight: lighter;
    font-size: 1em;
    padding-top: 50px;
    letter-spacing: 0.09em; }

  #indexAboutText a {
    color: #fff;
    font-family: 'Avenir', sans-serif;
    font-size: 1em;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none; }

  #indexServices {
    background-color: #d5d4d4; }

  #indexServicesTitle {
    text-align: center;
    width: 100%; }

  #indexServicesTitle img {
    position: relative; }

  #indexServicesTitle h2 {
    position: absolute;
    top: 1240px;
    font-family: 'Avenir', sans-serif;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-left: 440px;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 3.5em;
    letter-spacing: 0.4em; }

  #serviceIcons {
    width: 100%;
    text-align: center; }

  .fa {
    width: 200px; } }
@media (max-width: 479px) {
  header h1 {
    font-family: 'Avenir', sans-serif;
    color: #fff;
    font-size: 4em;
    text-transform: uppercase;
    position: absolute;
    margin-top: 60%;
    line-height: 65px;
    text-align: center;
    mix-blend-mode: screen;
    animation: glitch1 1s infinite;
    font-style: oblique;
    width: 100%;
    margin-right: 100px;
    letter-spacing: .3rem;
    float: left; }

  h1:nth-child(2) {
    color: blue;
    animation: glitch2 1s infinite; }

  h1:nth-child(3) {
    color: red;
    animation: glitch3 1s infinite; }

  /*Keyframes*/
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1; }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75; }
    10% {
      transform: none;
      opacity: 1; }
    27% {
      transform: none;
      opacity: 1; }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75; }
    35% {
      transform: none;
      opacity: 1; }
    52% {
      transform: none;
      opacity: 1; }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75; }
    50% {
      transform: none;
      opacity: 1; }
    72% {
      transform: none;
      opacity: 1; }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75; }
    80% {
      transform: none;
      opacity: 1; }
    100% {
      transform: none;
      opacity: 1; } }
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25; }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5; }
    10% {
      transform: none;
      opacity: 0.25; }
    27% {
      transform: none;
      opacity: 0.25; }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5; }
    35% {
      transform: none;
      opacity: 0.25; }
    52% {
      transform: none;
      opacity: 0.25; }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5; }
    50% {
      transform: none;
      opacity: 0.25; }
    72% {
      transform: none;
      opacity: 0.25; }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5; }
    80% {
      transform: none;
      opacity: 0.25; }
    100% {
      transform: none;
      opacity: 0.25; } }
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25; }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5; }
    10% {
      transform: none;
      opacity: 0.25; }
    27% {
      transform: none;
      opacity: 0.25; }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5; }
    35% {
      transform: none;
      opacity: 0.25; }
    52% {
      transform: none;
      opacity: 0.25; }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5; }
    50% {
      transform: none;
      opacity: 0.25; }
    72% {
      transform: none;
      opacity: 0.25; }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5; }
    80% {
      transform: none;
      opacity: 0.25; }
    100% {
      transform: none;
      opacity: 0.25; } } }
@media screen and (min-width: 480px) and (max-width: 769px) {
  header h1 {
    font-family: 'Avenir', sans-serif;
    color: #fff;
    font-size: 6.5em;
    text-transform: uppercase;
    position: absolute;
    margin-top: 200px;
    line-height: 200px;
    text-align: center;
    mix-blend-mode: screen;
    animation: glitch1 1s infinite;
    font-style: oblique;
    width: 100%;
    margin-right: 100px;
    float: left; }

  h1:nth-child(2) {
    color: blue;
    animation: glitch2 1s infinite; }

  h1:nth-child(3) {
    color: red;
    animation: glitch3 1s infinite; }

  /*Keyframes*/
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1; }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75; }
    10% {
      transform: none;
      opacity: 1; }
    27% {
      transform: none;
      opacity: 1; }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75; }
    35% {
      transform: none;
      opacity: 1; }
    52% {
      transform: none;
      opacity: 1; }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75; }
    50% {
      transform: none;
      opacity: 1; }
    72% {
      transform: none;
      opacity: 1; }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75; }
    80% {
      transform: none;
      opacity: 1; }
    100% {
      transform: none;
      opacity: 1; } }
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25; }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5; }
    10% {
      transform: none;
      opacity: 0.25; }
    27% {
      transform: none;
      opacity: 0.25; }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5; }
    35% {
      transform: none;
      opacity: 0.25; }
    52% {
      transform: none;
      opacity: 0.25; }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5; }
    50% {
      transform: none;
      opacity: 0.25; }
    72% {
      transform: none;
      opacity: 0.25; }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5; }
    80% {
      transform: none;
      opacity: 0.25; }
    100% {
      transform: none;
      opacity: 0.25; } }
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25; }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5; }
    10% {
      transform: none;
      opacity: 0.25; }
    27% {
      transform: none;
      opacity: 0.25; }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5; }
    35% {
      transform: none;
      opacity: 0.25; }
    52% {
      transform: none;
      opacity: 0.25; }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5; }
    50% {
      transform: none;
      opacity: 0.25; }
    72% {
      transform: none;
      opacity: 0.25; }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5; }
    80% {
      transform: none;
      opacity: 0.25; }
    100% {
      transform: none;
      opacity: 0.25; } } }
@media screen and (min-width: 770px) {
  header h1 {
    font-family: 'Avenir', sans-serif;
    color: #fff;
    font-size: 7.5em;
    text-transform: uppercase;
    position: absolute;
    margin-top: 190px;
    line-height: 200px;
    text-align: center;
    mix-blend-mode: screen;
    letter-spacing: 0.1em;
    animation: glitch1 1s infinite;
    font-style: oblique;
    width: 100%;
    margin-right: 100px;
    float: left; }

  h1:nth-child(2) {
    color: blue;
    animation: glitch2 1s infinite; }

  h1:nth-child(3) {
    color: red;
    animation: glitch3 1s infinite; }

  /*Keyframes*/
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1; }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75; }
    10% {
      transform: none;
      opacity: 1; }
    27% {
      transform: none;
      opacity: 1; }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75; }
    35% {
      transform: none;
      opacity: 1; }
    52% {
      transform: none;
      opacity: 1; }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75; }
    50% {
      transform: none;
      opacity: 1; }
    72% {
      transform: none;
      opacity: 1; }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75; }
    80% {
      transform: none;
      opacity: 1; }
    100% {
      transform: none;
      opacity: 1; } }
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25; }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5; }
    10% {
      transform: none;
      opacity: 0.25; }
    27% {
      transform: none;
      opacity: 0.25; }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5; }
    35% {
      transform: none;
      opacity: 0.25; }
    52% {
      transform: none;
      opacity: 0.25; }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5; }
    50% {
      transform: none;
      opacity: 0.25; }
    72% {
      transform: none;
      opacity: 0.25; }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5; }
    80% {
      transform: none;
      opacity: 0.25; }
    100% {
      transform: none;
      opacity: 0.25; } }
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25; }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5; }
    10% {
      transform: none;
      opacity: 0.25; }
    27% {
      transform: none;
      opacity: 0.25; }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5; }
    35% {
      transform: none;
      opacity: 0.25; }
    52% {
      transform: none;
      opacity: 0.25; }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5; }
    50% {
      transform: none;
      opacity: 0.25; }
    72% {
      transform: none;
      opacity: 0.25; }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5; }
    80% {
      transform: none;
      opacity: 0.25; }
    100% {
      transform: none;
      opacity: 0.25; } } }
#aboutHeader {
  clear: both;
  width: 100%;
  height: 800px;
  background-image: url("../images/aboutHeader.JPG"); }

#about {
  text-align: center; }

#about h2 {
  font-family: "Avenir", sans-serif;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  text-transform: uppercase; }

#about p {
  padding: 70px;
  width: 70%;
  margin: 0 auto;
  padding-top: 250px; }

#services {
  text-align: center;
  padding: 90px;
  margin: 0 auto;
  width: 100%; }

.servicesIcon {
  width: 75px;
  height: auto;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px; }

#icons {
  text-align: center;
  margin-top: 50px;
  padding-top: 250px; }

#services h2 {
  font-family: "Avenir", sans-serif;
  text-align: center;
  margin: 0 auto; }

#services p {
  padding-top: 50px; }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 479px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    width: 100%; }

  .portCon {
    position: relative;
    width: 100%; }

  .portExamples {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden; }

  .midText {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }

  .portCon:hover .portExamples {
    opacity: 0.9; }

  .portCon:hover .midText {
    opacity: 1; }

  .text {
    background-color: #000;
    color: white;
    width: 300px; }

  .text h3 {
    font-size: 1em;
    font-family: 'Avenir', sans-serif;
    font-weight: lighter;
    text-transform: uppercase; }

  .text h5 {
    font-size: 0.8em;
    font-family: 'Avenir', sans-serif;
    font-weight: lighter;
    font-style: oblique; }

  .midText a {
    text-decoration: none;
    color: #fff; }

  .midText a:hover {
    color: red; } }
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (min-width: 480px) and (max-width: 769px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    width: 50%; }

  .portCon {
    position: relative;
    width: 100%; }

  .portExamples {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden; }

  .midText {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }

  .portCon:hover .portExamples {
    opacity: 0.9; }

  .portCon:hover .midText {
    opacity: 1; }

  .text {
    background-color: #000;
    color: white;
    width: 300px; }

  .text h3 {
    font-size: 1em;
    font-family: 'Avenir', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-transform: uppercase; }

  .text h5 {
    font-size: 0.8em;
    font-family: 'Avenir', sans-serif;
    font-weight: lighter;
    font-style: oblique; }

  .midText a {
    text-decoration: none;
    color: #fff; }

  .midText a:hover {
    color: red; } }
@media screen and (min-width: 770px) {
  .column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%; }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

  .portCon {
    position: relative;
    width: 100%; }

  .portExamples {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden; }

  .midText {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }

  .portCon:hover .portExamples {
    opacity: 0.9; }

  .portCon:hover .midText {
    opacity: 1; }

  .text {
    background-color: #000;
    color: white;
    font-size: 16px;
    height: 100%;
    top: 50%;
    bottom: 50%;
    width: 200px; }

  .text h3 {
    font-size: 1em;
    font-family: 'Avenir', sans-serif;
    font-weight: lighter;
    text-transform: uppercase; }

  .text h5 {
    font-size: 0.8em;
    font-family: 'Avenir', sans-serif;
    font-weight: lighter;
    font-style: oblique; }

  .midText a {
    text-decoration: none;
    color: #fff; }

  .midText a:hover {
    color: red; } }
.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap; }

/* Create four equal columns that sits next to each other */
.column #portImg {
  vertical-align: middle; }

#portImg {
  /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
  filter: gray;
  /* IE5+ */
  -webkit-filter: grayscale(1);
  /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .1s ease-in-out; }

#portImg:hover {
  filter: none;
  -webkit-filter: grayscale(0); }

.backBtn a {
  font-family: 'Avenir', sans-serif;
  padding: 15px;
  text-decoration: none;
  text-transform: lowercase; }

.backBtn {
  margin-top: 15px; }

@media (max-width: 479px) {
  .proInfo h3 {
    font-family: 'Avenir', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 0; }

  .proInfo h5 {
    font-family: 'Avenir', sans-serif;
    font-size: 1.1em;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    margin-top: 50px; }

  .proInfo h6 {
    font-family: 'Avenir', sans-serif;
    font-size: 0.9em;
    font-weight: lighter;
    margin: 0; }

  .proInfo h4 {
    font-family: 'Avenir', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0; }

  .proInfo p {
    font-family: 'Avenir', sans-serif;
    font-size: 0.75em;
    font-weight: lighter;
    padding: 0;
    margin-left: 20px; }

  .proInfo {
    width: 100%; }

  .portfolio {
    width: 90%;
    margin: 0 auto; }

  .portImg {
    width: 40%;
    float: right;
    clear: both; }

  #organVid {
    width: 100%;
    position: relative;
    clear: both; }

  #melloVidDes {
    display: none; }

  #melloVidMob {
    margin: 0 auto;
    text-align: center;
    padding-left: 60px; }

  #melloVidBottle {
    width: 100%; }

  .velveetaLabels {
    display: none; }

  #casualBTSDes {
    display: none; }

  #casualBTSTab {
    display: none; }

  #casualBTSMob {
    width: 350px;
    height: auto; }

  #numbersDes {
    display: none; }

  #numbersTab {
    display: none; }

  #numbersMob {
    width: 350px;
    height: auto; }

  #photoCheatTab {
    display: none; }

  #photoCheatDes {
    display: none; }

  #photoCheatMob {
    width: 350px;
    padding: 0;
    text-align: center; }

  #portInfographTab {
    display: none; }

  #portInfographDes {
    display: none; } }
@media screen and (min-width: 480px) and (max-width: 769px) {
  .proInfo h3 {
    font-family: 'Avenir', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 0; }

  .proInfo h5 {
    font-family: 'Avenir', sans-serif;
    font-size: 1.1em;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    margin-top: 50px; }

  .proInfo h6 {
    font-family: 'Avenir', sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0; }

  .proInfo h4 {
    font-family: 'Avenir', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0; }

  .proInfo p {
    font-family: 'Avenir', sans-serif;
    font-size: 0.9em;
    font-weight: lighter;
    padding: 0;
    margin-left: 20px; }

  .proInfo {
    width: 60%; }

  .portfolio {
    width: 90%;
    margin: 0 auto; }

  .portImg {
    width: 40%;
    float: right;
    clear: both;
    padding-left: 20px; }

  #melloVidDes {
    width: 40%;
    float: right;
    position: relative;
    clear: both; }

  #melloVidMob {
    display: none; }

  #melloVidBottle {
    float: right;
    width: 40%;
    height: auto;
    clear: both;
    position: relative;
    padding: 0; }

  .velveetaLabels {
    display: none; }

  #casualBTSDes {
    display: none; }

  #casualBTSMob {
    display: none; }

  #casualBTSTab {
    float: right;
    width: 350px;
    padding-left: 20px; }

  #numbersDes {
    display: none; }

  #numbersMob {
    display: none; }

  #casualBTSTab {
    float: right;
    width: 350px;
    padding-left: 20px; }

  #photoCheatMob {
    display: none; }

  #photoCheatDes {
    display: none; }

  #photoCheatTab {
    float: right;
    width: 40%;
    padding-left: 30px; }

  #portInfographMob {
    display: none; }

  #portInfographDes {
    display: none; }

  #portInfographTab {
    float: right;
    width: 40%;
    padding-left: 40px; } }
@media screen and (min-width: 770px) {
  .proInfo h3 {
    font-family: 'Avenir', sans-serif;
    font-size: 2.5em;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 0; }

  .proInfo h5 {
    font-family: 'Avenir', sans-serif;
    font-size: 1.3em;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    margin-top: 50px; }

  .proInfo h6 {
    font-family: 'Avenir', sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0; }

  .proInfo h4 {
    font-family: 'Avenir', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0; }

  .proInfo p {
    font-family: 'Avenir', sans-serif;
    font-size: 1em;
    font-weight: lighter;
    padding: 0;
    margin-left: 20px; }

  .proInfo {
    width: 50%; }

  .portfolio {
    width: 90%;
    margin: 0 auto; }

  .portImg {
    width: 40%;
    float: right;
    clear: both; }

  #melloVidDes {
    width: 40%;
    float: right;
    position: relative;
    clear: both; }

  #melloVidMob {
    display: none; }

  #melloVidBottle {
    float: right;
    clear: both;
    position: relative;
    width: 500px;
    height: auto; }

  .velveetaLabelsMob {
    display: none; }

  #casualBTSDes {
    float: right; }

  #casualBTSMob {
    display: none; }

  #casualBTSTab {
    display: none; }

  #numbersDes {
    float: right; }

  #numbersMob {
    display: none; }

  #numbersTab {
    display: none; }

  #photoCheatMob {
    display: none; }

  #photoCheatTab {
    display: none; }

  #photoCheatDes {
    float: right;
    width: 40%; }

  #portInfographMob {
    display: none; }

  #portInfographTab {
    display: none; }

  #portInfographDes {
    float: right;
    width: 50%;
    padding-left: 50px; } }
.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap; }

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 25%; }

.column img {
  vertical-align: middle; }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%; } }
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%; } }
.column img {
  /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
  filter: gray;
  /* IE5+ */
  -webkit-filter: grayscale(1);
  /* Webkit Nightlies & Chrome Canary */ }

.column img:hover {
  filter: none;
  -webkit-filter: grayscale(0); }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.container:hover .image {
  opacity: 0.3; }

.container:hover .middle {
  opacity: 1; }

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px; }

@media (max-width: 479px) {
  #contactInfo {
    display: none; }

  #contact h3 {
    font-family: 'Avenir', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 1.3em;
    font-style: oblique; }

  #contact h6 {
    font-family: 'Avenir', sans-serif;
    text-align: center;
    font-size: 1em;
    font-style: oblique;
    font-weight: lighter;
    width: 75%;
    padding-bottom: 10px;
    margin: 0 auto; }

  .contactForm input[type=message] {
    width: 300px;
    height: 100px;
    padding: 15px;
    margin-bottom: 20px;
    margin: 0 auto;
    border: none;
    background: #f1f1f1;
    margin-left: 35px; }

  .contactForm input[type=text] {
    width: 300px;
    padding: 15px;
    margin-bottom: 20px;
    margin: 0 auto;
    border: none;
    background: #f1f1f1;
    margin-left: 35px; }

  .contactForm input[type=tel] {
    width: 300px;
    padding: 15px;
    margin-bottom: 20px;
    margin: 0 auto;
    border: none;
    background: #f1f1f1;
    margin-left: 35px; }

  .contactSub {
    font-family: "Avenir", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 0.9em; }

  #contactSubmit {
    background-color: #666;
    color: white;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-bottom: 10px;
    opacity: 0.8;
    margin-left: 40px;
    margin-top: 20px; }

  #contactSubmit:hover {
    background-color: #993333;
    color: white;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-bottom: 10px;
    opacity: 0.8;
    margin-left: 40px;
    margin-top: 20px; }

  #contactSubmit h5 {
    font-size: 1.2em;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding: 0; } }
@media screen and (min-width: 480px) and (max-width: 769px) {
  #contactInfo {
    display: none; }

  #contact h3 {
    font-family: 'Avenir', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 1.8em;
    font-style: oblique; }

  #contact h6 {
    font-family: 'Avenir', sans-serif;
    text-align: center;
    font-size: 1em;
    font-style: oblique;
    font-weight: lighter;
    width: 85%;
    padding-bottom: 10px;
    margin: 0 auto; }

  .contactForm input[type=message] {
    width: 500px;
    height: 100px;
    padding: 15px;
    margin-bottom: 20px;
    margin: 0 auto;
    border: none;
    background: #f1f1f1;
    margin-left: 100px; }

  .contactForm input[type=text] {
    width: 500px;
    padding: 15px;
    margin-bottom: 20px;
    margin: 0 auto;
    border: none;
    background: #f1f1f1;
    margin-left: 100px; }

  .contactForm input[type=tel] {
    width: 500px;
    padding: 15px;
    margin-bottom: 20px;
    margin: 0 auto;
    border: none;
    background: #f1f1f1;
    margin-left: 100px; }

  .contactSub {
    font-family: "Avenir", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 0.9em; }

  #contactSubmit {
    background-color: #666;
    color: white;
    border: none;
    cursor: pointer;
    width: 60%;
    margin-bottom: 10px;
    margin-left: 140px;
    margin-top: 20px; }

  #contactSubmit:hover {
    background-color: #993333;
    color: white;
    border: none;
    cursor: pointer;
    width: 60%;
    margin-bottom: 10px;
    margin-left: 140px;
    margin-top: 20px; }

  #contactSubmit h5 {
    font-size: 1.4em;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding: 0; } }
@media screen and (min-width: 770px) {
  #contactInfo {
    float: left;
    width: 50%;
    height: 600px;
    background-color: #630000; }

  #contactInfo h3 {
    font-size: 3em;
    color: #fff;
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 0.2em; }

  #contactInfo h5 {
    font-size: 1em;
    color: #fff;
    font-family: 'Avenir', sans-serif;
    letter-spacing: 0.1em;
    text-align: right;
    font-weight: lighter;
    margin-right: 40px; }

  #contact {
    float: right;
    width: 50%;
    height: 600px;
    overflow: scroll; }

  #contact h3 {
    font-family: 'Avenir', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 1.8em;
    font-style: oblique; }

  #contact h6 {
    font-family: 'Avenir', sans-serif;
    text-align: center;
    font-size: 1em;
    font-style: oblique;
    font-weight: lighter;
    width: 85%;
    padding-bottom: 5px;
    margin: 0 auto; }

  .contactForm input[type=message] {
    width: 500px;
    height: 100px;
    padding: 15px;
    margin-bottom: 20px;
    margin: 0 auto;
    border: none;
    background: #f1f1f1;
    margin-left: 55px; }

  .contactForm input[type=text] {
    width: 500px;
    padding: 15px;
    margin-bottom: 20px;
    margin: 0 auto;
    border: none;
    background: #f1f1f1;
    margin-left: 55px; }

  .contactForm input[type=tel] {
    width: 500px;
    padding: 15px;
    margin-bottom: 20px;
    margin: 0 auto;
    border: none;
    background: #f1f1f1;
    margin-left: 55px; }

  .contactSub {
    font-family: "Avenir", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 0.9em; }

  #contactSubmit {
    background-color: #666;
    color: white;
    border: none;
    cursor: pointer;
    width: 60%;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 130px; }

  #contactSubmit:hover {
    background-color: #993333;
    color: white;
    border: none;
    cursor: pointer;
    width: 60%;
    margin-bottom: 10px;
    margin-top: 20px; }

  #contactSubmit h5 {
    font-size: 1.4em;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding: 0; } }
footer {
  position: relative;
  bottom: 0;
  clear: both;
  height: 50px;
  margin: 0;
  width: 100%;
  background-color: #930000;
  color: white; }

footer h5 {
  font-family: 'Avenir', sans-serif;
  padding-left: 2%;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  clear: both;
  float: left; }

@media screen and (max-width: 479px) {
  .footerIcons {
    padding: 15px;
    float: right;
    color: #fff;
    margin-top: 5px;
    size: 100px; } }
@media screen and (min-width: 480px) and (max-width: 769px) {
  .footerIcons {
    padding: 15px;
    float: right;
    color: #fff;
    margin-top: 5px;
    size: 100px; } }
@media screen and (min-width: 770px) {
  .footerIcons {
    padding: 10px;
    float: right;
    color: #fff; } }
@font-face {
  font-family: 'cf_glitch_cityregular';
  src: url("/includes/cfglitchcity-regular-webfont.woff2") format("woff2"), url("/includes/cfglitchcity-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.hidden {
  display: none; }

html, body {
  margin: 0;
  padding: 0;
  margin-top: -10px;
  background-repeat: repeat; }

p {
  font-family: 'Avenir', sans-serif; }

.sectionLine {
  width: 10%; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + .content {
  padding-top: 10px; }

#experience {
  visibility: none; }

/*# sourceMappingURL=main.css.map */
