@import 'modules/vars';
@import 'modules/header';
@import 'modules/body';
@import 'modules/index';
@import 'modules/glitch';
@import 'modules/about';

.hidden
{
    display: none;
}

html, body
{
    margin: 0;
    padding: 0;
    margin-top: -10px;
    //background-color: #f4d0c8;
    background-image: url("images/cartographer.png");
    background-repeat: repeat;
}

p
{
    font-family: 'Avenir', sans-serif;
}

.rotate 
{
    //Safari
    -webkit-transform: rotate(-90deg);
    //Firefox
    -moz-transform: rotate(-90deg);
    //IE
    -ms-transform: rotate(-90deg);
}



#photoParallax 
{
    background-image: url("../images/taiwan-sunsetBW.jpg");
    min-height: 500px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#animParallax 
{
    background-image: url("../images/apartments.jpg");
    min-height: 500px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#vidParallax 
{
    background-image: url("../images/aerialBW.jpg");
    min-height: 500px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

