@import 'modules/vars';
@import 'modules/header';
@import 'modules/body';
@import 'modules/index';
@import 'modules/glitch';
@import 'modules/about';
@import 'modules/portfolio';
@import 'modules/work';
@import 'modules/portfolio-grid';
@import 'modules/contact';
@import 'modules/footer';

@font-face {
    font-family: 'cf_glitch_cityregular';
    src: url('/includes/cfglitchcity-regular-webfont.woff2') format('woff2'),
         url('/includes/cfglitchcity-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.hidden
{
    display: none;
}

html, body
{
    margin: 0;
    padding: 0;
    margin-top: -10px;
    background-repeat: repeat;
}

p
{
    font-family: 'Avenir', sans-serif;
}

.sectionLine
{
    width: 10%;
}

//Sticky Nav
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 10px;
  }

  #experience
  {
      visibility: none;
  }

