//HEADER GLITCH
@media (max-width: 479px) {
  header h1
  {
      font-family: 'Avenir', sans-serif;
      color: #fff;
      font-size: 5em;
      text-transform: uppercase;
      position: absolute;
      margin-top: 60%;
      line-height: 65px;
      text-align: center;
      mix-blend-mode: screen;
      //text-shadow: 0 0 0.1em #FFF, 0 0 0.2em #FFF;
      animation: glitch1 1s infinite;
      //font-weight: lighter;
      font-style: oblique;
      width: 100%;
      margin-right: 100px;
      letter-spacing: .3rem;
      float: left;
      
  }
  
  h1:nth-child(2) {
      color: blue;
      animation: glitch2 1s infinite;
    }
    
    h1:nth-child(3) {
      color: red;
      animation: glitch3 1s infinite;
    }
    /*Keyframes*/
    
    @keyframes glitch1 {
      0% {
        transform: none;
        opacity: 1;
      }
      7% {
        transform: skew(-0.5deg, -0.9deg);
        opacity: 0.75;
      }
      10% {
        transform: none;
        opacity: 1;
      }
      27% {
        transform: none;
        opacity: 1;
      }
      30% {
        transform: skew(0.8deg, -0.1deg);
        opacity: 0.75;
      }
      35% {
        transform: none;
        opacity: 1;
      }
      52% {
        transform: none;
        opacity: 1;
      }
      55% {
        transform: skew(-1deg, 0.2deg);
        opacity: 0.75;
      }
      50% {
        transform: none;
        opacity: 1;
      }
      72% {
        transform: none;
        opacity: 1;
      }
      75% {
        transform: skew(0.4deg, 1deg);
        opacity: 0.75;
      }
      80% {
        transform: none;
        opacity: 1;
      }
      100% {
        transform: none;
        opacity: 1;
      }
    }
    
    @keyframes glitch2 {
      0% {
        transform: none;
        opacity: 0.25;
      }
      7% {
        transform: translate(-2px, -3px);
        opacity: 0.5;
      }
      10% {
        transform: none;
        opacity: 0.25;
      }
      27% {
        transform: none;
        opacity: 0.25;
      }
      30% {
        transform: translate(-5px, -2px);
        opacity: 0.5;
      }
      35% {
        transform: none;
        opacity: 0.25;
      }
      52% {
        transform: none;
        opacity: 0.25;
      }
      55% {
        transform: translate(-5px, -1px);
        opacity: 0.5;
      }
      50% {
        transform: none;
        opacity: 0.25;
      }
      72% {
        transform: none;
        opacity: 0.25;
      }
      75% {
        transform: translate(-2px, -6px);
        opacity: 0.5;
      }
      80% {
        transform: none;
        opacity: 0.25;
      }
      100% {
        transform: none;
        opacity: 0.25;
      }
    }
    
    @keyframes glitch3 {
      0% {
        transform: none;
        opacity: 0.25;
      }
      7% {
        transform: translate(2px, 3px);
        opacity: 0.5;
      }
      10% {
        transform: none;
        opacity: 0.25;
      }
      27% {
        transform: none;
        opacity: 0.25;
      }
      30% {
        transform: translate(5px, 2px);
        opacity: 0.5;
      }
      35% {
        transform: none;
        opacity: 0.25;
      }
      52% {
        transform: none;
        opacity: 0.25;
      }
      55% {
        transform: translate(5px, 1px);
        opacity: 0.5;
      }
      50% {
        transform: none;
        opacity: 0.25;
      }
      72% {
        transform: none;
        opacity: 0.25;
      }
      75% {
        transform: translate(2px, 6px);
        opacity: 0.5;
      }
      80% {
        transform: none;
        opacity: 0.25;
      }
      100% {
        transform: none;
        opacity: 0.25;
      }
    }
}

@media screen and (min-width: 480px) and (max-width: 769px) {
  header h1
  {
      font-family: 'Avenir', sans-serif;
      color: #fff;
      font-size: 6.5em;
      text-transform: uppercase;
      position: absolute;
      margin-top: 200px;
      line-height: 200px;
      text-align: center;
      mix-blend-mode: screen;
      //text-shadow: 0 0 0.1em #FFF, 0 0 0.2em #FFF;
      animation: glitch1 1s infinite;
      //font-weight: lighter;
      font-style: oblique;
      width: 100%;
      margin-right: 100px;
      float: left;
      
  }
  
  h1:nth-child(2) {
      color: blue;
      animation: glitch2 1s infinite;
    }
    
    h1:nth-child(3) {
      color: red;
      animation: glitch3 1s infinite;
    }
    /*Keyframes*/
    
    @keyframes glitch1 {
      0% {
        transform: none;
        opacity: 1;
      }
      7% {
        transform: skew(-0.5deg, -0.9deg);
        opacity: 0.75;
      }
      10% {
        transform: none;
        opacity: 1;
      }
      27% {
        transform: none;
        opacity: 1;
      }
      30% {
        transform: skew(0.8deg, -0.1deg);
        opacity: 0.75;
      }
      35% {
        transform: none;
        opacity: 1;
      }
      52% {
        transform: none;
        opacity: 1;
      }
      55% {
        transform: skew(-1deg, 0.2deg);
        opacity: 0.75;
      }
      50% {
        transform: none;
        opacity: 1;
      }
      72% {
        transform: none;
        opacity: 1;
      }
      75% {
        transform: skew(0.4deg, 1deg);
        opacity: 0.75;
      }
      80% {
        transform: none;
        opacity: 1;
      }
      100% {
        transform: none;
        opacity: 1;
      }
    }
    
    @keyframes glitch2 {
      0% {
        transform: none;
        opacity: 0.25;
      }
      7% {
        transform: translate(-2px, -3px);
        opacity: 0.5;
      }
      10% {
        transform: none;
        opacity: 0.25;
      }
      27% {
        transform: none;
        opacity: 0.25;
      }
      30% {
        transform: translate(-5px, -2px);
        opacity: 0.5;
      }
      35% {
        transform: none;
        opacity: 0.25;
      }
      52% {
        transform: none;
        opacity: 0.25;
      }
      55% {
        transform: translate(-5px, -1px);
        opacity: 0.5;
      }
      50% {
        transform: none;
        opacity: 0.25;
      }
      72% {
        transform: none;
        opacity: 0.25;
      }
      75% {
        transform: translate(-2px, -6px);
        opacity: 0.5;
      }
      80% {
        transform: none;
        opacity: 0.25;
      }
      100% {
        transform: none;
        opacity: 0.25;
      }
    }
    
    @keyframes glitch3 {
      0% {
        transform: none;
        opacity: 0.25;
      }
      7% {
        transform: translate(2px, 3px);
        opacity: 0.5;
      }
      10% {
        transform: none;
        opacity: 0.25;
      }
      27% {
        transform: none;
        opacity: 0.25;
      }
      30% {
        transform: translate(5px, 2px);
        opacity: 0.5;
      }
      35% {
        transform: none;
        opacity: 0.25;
      }
      52% {
        transform: none;
        opacity: 0.25;
      }
      55% {
        transform: translate(5px, 1px);
        opacity: 0.5;
      }
      50% {
        transform: none;
        opacity: 0.25;
      }
      72% {
        transform: none;
        opacity: 0.25;
      }
      75% {
        transform: translate(2px, 6px);
        opacity: 0.5;
      }
      80% {
        transform: none;
        opacity: 0.25;
      }
      100% {
        transform: none;
        opacity: 0.25;
      }
    }
  }
   

@media (min-width: 769px) {
header h1
{
    font-family: 'Avenir', sans-serif;
    color: #fff;
    font-size: 10em;
    text-transform: uppercase;
    position: absolute;
    margin-top: 200px;
    line-height: 200px;
    text-align: center;
    mix-blend-mode: screen;
    //text-shadow: 0 0 0.1em #FFF, 0 0 0.2em #FFF;
    animation: glitch1 1s infinite;
    //font-weight: lighter;
    font-style: oblique;
    width: 100%;
    margin-right: 100px;
    letter-spacing: .3rem;
    float: left;
    
}

h1:nth-child(2) {
    color: blue;
    animation: glitch2 1s infinite;
  }
  
  h1:nth-child(3) {
    color: red;
    animation: glitch3 1s infinite;
  }
  /*Keyframes*/
  
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
 
  .quote h3
{
    font-family: 'Avenir', sans-serif;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    //text-shadow: 0 0 0.1em #FFF, 0 0 0.2em #FFF;
    animation: glitch1 4s infinite;
    //font-weight: lighter;
    font-style: oblique;
    width: 100%;
    letter-spacing: .3rem;
    float: left;
}

//QUOTE GLITCH
.quote h3:nth-child(2) {
    color: blue;
    animation: glitch2 4s infinite;
  }
  
.quote h3:nth-child(3) {
    color: red;
    animation: glitch3 4ss infinite;
  }
  /*Keyframes*/
  
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }

  .quote h3
  {
      font-family: 'Avenir', sans-serif;
      color: #fff;
      font-size: 1.5em;
      text-transform: uppercase;
      position: absolute;
      text-align: center;
      //text-shadow: 0 0 0.1em #FFF, 0 0 0.2em #FFF;
      animation: glitch1 4s infinite;
      //font-weight: lighter;
      font-style: oblique;
      width: 100%;
      letter-spacing: .3rem;
      float: left;
  }
  
  //QUOTE GLITCH
  .quote h3:nth-child(2) {
      color: blue;
      animation: glitch2 4s infinite;
    }
    
  .quote h3:nth-child(3) {
      color: red;
      animation: glitch3 4ss infinite;
    }
    /*Keyframes*/
    
    @keyframes glitch1 {
      0% {
        transform: none;
        opacity: 1;
      }
      7% {
        transform: skew(-0.5deg, -0.9deg);
        opacity: 0.75;
      }
      10% {
        transform: none;
        opacity: 1;
      }
      27% {
        transform: none;
        opacity: 1;
      }
      30% {
        transform: skew(0.8deg, -0.1deg);
        opacity: 0.75;
      }
      35% {
        transform: none;
        opacity: 1;
      }
      52% {
        transform: none;
        opacity: 1;
      }
      55% {
        transform: skew(-1deg, 0.2deg);
        opacity: 0.75;
      }
      50% {
        transform: none;
        opacity: 1;
      }
      72% {
        transform: none;
        opacity: 1;
      }
      75% {
        transform: skew(0.4deg, 1deg);
        opacity: 0.75;
      }
      80% {
        transform: none;
        opacity: 1;
      }
      100% {
        transform: none;
        opacity: 1;
      }
    }
    
    @keyframes glitch2 {
      0% {
        transform: none;
        opacity: 0.25;
      }
      7% {
        transform: translate(-2px, -3px);
        opacity: 0.5;
      }
      10% {
        transform: none;
        opacity: 0.25;
      }
      27% {
        transform: none;
        opacity: 0.25;
      }
      30% {
        transform: translate(-5px, -2px);
        opacity: 0.5;
      }
      35% {
        transform: none;
        opacity: 0.25;
      }
      52% {
        transform: none;
        opacity: 0.25;
      }
      55% {
        transform: translate(-5px, -1px);
        opacity: 0.5;
      }
      50% {
        transform: none;
        opacity: 0.25;
      }
      72% {
        transform: none;
        opacity: 0.25;
      }
      75% {
        transform: translate(-2px, -6px);
        opacity: 0.5;
      }
      80% {
        transform: none;
        opacity: 0.25;
      }
      100% {
        transform: none;
        opacity: 0.25;
      }
    }
    
    @keyframes glitch3 {
      0% {
        transform: none;
        opacity: 0.25;
      }
      7% {
        transform: translate(2px, 3px);
        opacity: 0.5;
      }
      10% {
        transform: none;
        opacity: 0.25;
      }
      27% {
        transform: none;
        opacity: 0.25;
      }
      30% {
        transform: translate(5px, 2px);
        opacity: 0.5;
      }
      35% {
        transform: none;
        opacity: 0.25;
      }
      52% {
        transform: none;
        opacity: 0.25;
      }
      55% {
        transform: translate(5px, 1px);
        opacity: 0.5;
      }
      50% {
        transform: none;
        opacity: 0.25;
      }
      72% {
        transform: none;
        opacity: 0.25;
      }
      75% {
        transform: translate(2px, 6px);
        opacity: 0.5;
      }
      80% {
        transform: none;
        opacity: 0.25;
      }
      100% {
        transform: none;
        opacity: 0.25;
      }
    }
  
#about h2
{
    font-family: 'Avenir', sans-serif;
    color: #000;
    font-size: 2em;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    //text-shadow: 0 0 0.1em #FFF, 0 0 0.2em #FFF;
    animation: glitch1 4s infinite;
    //font-weight: lighter;
    font-style: oblique;
    width: 100%;
    letter-spacing: .3rem;
    float: left;
}

//QUOTE GLITCH
#about h2:nth-child(2) {
    color: blue;
    animation: glitch2 4s infinite;
  }
  
#about h2:nth-child(3) {
    color: red;
    animation: glitch3 4ss infinite;
  }
  /*Keyframes*/
  
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }

  #services h2
{
    font-family: 'Avenir', sans-serif;
    color: #000;
    font-size: 2em;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    //text-shadow: 0 0 0.1em #FFF, 0 0 0.2em #FFF;
    animation: glitch1 4s infinite;
    //font-weight: lighter;
    font-style: oblique;
    width: 100%;
    letter-spacing: .3rem;
    float: left;
}

//QUOTE GLITCH
#services h2:nth-child(2) {
    color: blue;
    animation: glitch2 4s infinite;
  }
  
#services h2:nth-child(3) {
    color: red;
    animation: glitch3 4ss infinite;
  }
  /*Keyframes*/
  
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }

}