@media (max-width: 479px) {
    #indexBack
    {
        background-color: $dark-grey;
    }
    //About 
    #indexAbout
    {
        background-color: $dark-grey;
    }

    #indexAboutTitle 
    {
        text-align: center;
        width: 100%;
    }

    #indexAboutTitle
    {
        margin: 0;
    }

    #indexAboutText
    {
        font-family: 'Avenir', sans-serif;
        font-size: 1em;
        width: 100%;
        letter-spacing: 0.05em;
        text-align: center;
        padding: 0;
        padding-bottom: 50px;
    }

    #indexAboutText p 
    {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        color: #f1f1f1;
        padding-bottom: 40px;
        font-weight: lighter;
        font-size: 0.8em;
        padding-top: 50px;
        letter-spacing: 0.1em;
    }

    #indexAboutText a
    {
        color: #fff;
        font-family: 'Avenir', sans-serif;
        font-size: 0.8em;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 50px;
    }

    #indexAbout img 
    {
        width: 100%;
        padding: 0;
        margin: 0 ;
    }

    .linkMore a
    {
        padding-bottom: 50px;
    }

    #indexAboutText a:hover
    {
        text-shadow: 2px 2px 8px #FF0000;
    }

    //Animation Reel  
    #animationReel
    {
        width: 100%;
        background-color: $dark-grey;
    }
    #controls
    {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    #animationReel
    {
        width: 100%;
    }

    #controls button:hover
    {
        cursor: pointer;
    }
    
    #playPauseBtn
    {
        width: 35px;
    }

    #stopBtn
    {
        width: 35px;
    }
    
    #controls .btn 
    {
        background-color: $dark-grey;
        color: #fff;
        border: none;
        display: inline;
    }

    #timeline
    {
        width: 60px;
    }

    #volume
    {
        width: 60px;
    }

    #curTime
    {
        display: none;
    }

    #slash
    {
        display: none;
    }

    #totalTime
    {
        display: none;
    }

    #mute
    {
        width: 20px;
        margin-right: 30px;
        margin-left: 0;
    }

    //Services
    #indexServices
    {
        background-color: #ffffff;
    }

    #indexServices img 
    {
        width: 100%;
    }

    #indexServicesTitle
    {
        text-align: center;
        width: 100%;
    }

    #indexServicesTitle h3
    {
        position: absolute;
        top: 1240px;
        font-family: 'Avenir', sans-serif;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        margin-left: 440px;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 3.5em;
        letter-spacing: 0.4em;
    }

    #serviceInfo h3
    {
        font-family: 'Avenir', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        padding: 0;
    }

    #serviceInfo 
    {
        width: 85%;
        text-align: left;
        margin: 0 auto;
        padding-top: 20px;
    }

    #serviceIcons
    {
        text-align: center;
        float: left;
        font-size: 50px;
        display: inline;
        clear: both;
        width: 95%;
        margin-bottom: 30px;
    }

    //Recent Work
    #indexRecent
    {
        background-color: $dark-grey;
        width: 100%;
    }

    #recentTitle img 
    {
        width: 100%;
    }

    .recentWorkExam
    {
        width: 100%;
        padding: 0;
        float: left;
    }

    .recentWorkExam
    {
        filter: gray; /* IE5+ */
        -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    }

    //Contact Form
    #indexContactForm
    {
        background-color: #fff;
        width: 100%;
        background-image: url("/images/contactBackground.jpg");
        margin: 0 auto;   
    }

    #indexContactForm form 
    {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 100px;
    }
    #indexContactForm h1
    {
        margin-top: 700px;
    }

    .indexForm
    {
        font-family: 'Avenir', sans-serif;
        display: block;
    }

    #indexContactForm input[type=message] 
    {
        width: 75%;
        height: 50px;
        padding: 15px;
        margin-bottom: 20px;
        margin: 0 auto;
        border: none;
        border-bottom: 1px solid #fff;
        color: $dark-grey;
        text-transform: uppercase;
    }

    #indexContactForm input[type=text] 
    {
        width: 75%;
        padding: 15px;
        margin-bottom: 20px;
        margin: 0 auto;
        border: none;
        border-bottom: 1px solid white;
        color: $dark-grey;
        text-transform: uppercase;
    }

    #indexContactForm label
    {
        display: none;
    }

    .indexSubmit
    {
        background-color: $grey;
        height: 30px;
        color: white;
        border: none;
        cursor: pointer;
        width: 30%;
        margin-bottom: 10px;
        margin-left: 140px;
        margin-top: 20px;
        float: right;
    }

        .indexSubmit:hover
    {
        background-color: #993333;
        height: 30px;
        color: white;
        border: none;
        cursor: pointer;
        width: 10%;
        margin-bottom: 10px;
        margin-left: 140px;
        margin-top: 20px;
        float: right;
    }

    #contactVid
    {
        display: none;
    }

    #contactMobImg
    {
        width: 100%;
    }
    }

@media screen and (min-width: 480px) and (max-width: 769px) {
    #indexBack
    {
        background-color: $dark-grey;
    }
    #whyHire 
    {
        margin: 5px;
    }
    #whyHire h2 
    {
        font-family: 'Avenir', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5em;
        letter-spacing: 0.3em;
        text-shadow: 2px 2px #8B0505;
    }
    #whyHire h5
    {
        font-family: 'Avenir', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 1em;
        font-weight: lighter;

    }
    #whyHire p 
    {
        font-family: 'Avenir', sans-serif;
        text-align: center;
        font-size: 0.8em;
        font-weight: lighter;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .whyHireIcons
    {
        width: 65px;
        height: 65px
    }

    .qualities
    {
        width: 33%;
        height: 250px;
        float: left;
        text-align: center;
    }

    #indexAbout
    {
        background-color: $dark-grey;
    }

    #indexAboutTitle 
    {
        text-align: center;
        width: 100%;
    }

    #indexAboutTitle img 
    {
        width: 100%;
    }

    #indexAboutTitle h2
    {
        position: absolute;
        top: 650px;
        font-family: 'Avenir', sans-serif;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        margin-left: 410px;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 3.5em;
        letter-spacing: 0.4em;
    }

    #indexAboutTitle
    {
        margin: 0;
    }

    #indexAboutText
    {
        font-family: 'Avenir', sans-serif;
        font-size: 1em;
        width: 100%;
        letter-spacing: 0.05em;
        text-align: center;
        padding: 0;
        padding-bottom: 50px;
    }

    #indexAboutText p 
    {
        width: 65%;
        text-align: center;
        margin: 0 auto;
        color: #f1f1f1;
        padding-bottom: 40px;
        font-weight: lighter;
        font-size: 0.9em;
        padding-top: 50px;
        letter-spacing: 0.09em;
        line-height: 1.9em;
        text-align: justify;
        text-justify: inter-word;
    }

    #indexAboutText a
    {
        color: #fff;
        font-family: 'Avenir', sans-serif;
        font-size: 1em;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 50px;
       
    }

    .linkMore a
    {
        padding-bottom: 50px;
    }

    #indexAboutText a:hover
    {
        text-shadow: 2px 2px 20px #fff;
    }

    //Animation Reel  
    #animationReel
    {
        width: 100%;
        background-color: $dark-grey;
    }
    #controls
    {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    #animationReel
    {
        width: 100%;
    }

    #controls button:hover
    {
        cursor: pointer;
    }
    
    #playPauseBtn
    {
        width: 75px;
    }

    #stopBtn
    {
        width: 75px;
    }
    
    #controls .btn 
    {
        background-color: $dark-grey;
        color: #fff;
        border: none;
        display: inline;
    }

    #timeline
    {
        width: 100px;
    }

    #volume
    {
        width: 80px;
    }

    #curTime
    {
        font-family: 'Avenir', sans-serif;
        color: #fff;
        font-size: 0.8em;
        margin-left: 20px;
    }

    #slash
    {
        font-family: 'Avenir', sans-serif;
        color: #fff;
        font-size: 0.8em;
    }

    #totalTime
    {
        font-family: 'Avenir', sans-serif;
        color: #fff;
        font-size: 0.8em;
    }

    #mute
    {
        width: 20px;
        margin-right: 50px;
        margin-left: 20px;

    }

    #fullscreenbtn
    {
        margin-left: 20px;
        font-size: 1em;
    }


    //Services
    #indexServices
    {
        background-color: #ffffff;
    }

    #indexServices img 
    {
        width: 100%;
    }

    #indexServicesTitle
    {
        text-align: center;
        width: 100%;
    }

    #indexServicesTitle h3
    {
        position: absolute;
        top: 1240px;
        font-family: 'Avenir', sans-serif;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        margin-left: 440px;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 3.5em;
        letter-spacing: 0.4em;
    }

    #serviceInfo h3
    {
        font-family: 'Avenir', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        padding: 0;
    }

    #serviceInfo 
    {
        width: 85%;
        text-align: left;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 70px;
    }

    #serviceIcons
    {
        text-align: center;
        float: left;
        font-size: 45px;
        display: inline;
        clear: both;
        width: 95%;
        margin-bottom: 30px;
    }

    //Recent Work
    #indexRecent
    {
        background-color: $dark-grey;
        width: 100%;
    }

    #recentTitle img 
    {
        width: 100%;
    }

    .recentWorkExam
    {
        width: 50%;
        display: inline-block;
        padding: 0;
        float: left;
    }

    .recentWorkExam
    {
        filter: gray; /* IE5+ */
        -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
        -webkit-transition: all .1s ease-in-out;  
    }
        
    .recentWorkExam:hover 
    {
        filter: none;
        -webkit-filter: grayscale(0);
    }

    //Contact Form
    #contactMobImg
    {
        display: none;
    }
    #indexContactForm
    {
        width: 100%;
        float: left;
        background-image: url("/images/contactBackground.jpg");
        margin-bottom: 40px;
            
    }


    .indexForm
    {
        font-family: 'Avenir', sans-serif;
        display: block;
    }

    #indexContactForm input[type=message] 
    {
        width: 50%;
        height: 50px;
        padding: 15px;
        margin-bottom: 20px;
        margin: 0 auto;
        border: none;
        border-bottom: 1px solid white;
        margin-left: 170px;
        background-color: $dark-grey;
        color: #fff;
        text-transform: uppercase;
    }

    #indexContactForm input[type=text] 
    {
        width: 50%;
        padding: 15px;
        margin-bottom: 20px;
        margin: 0 auto;
        border: none;
        border-bottom: 1px solid white;
        margin-left: 170px;
        background-color: $dark-grey;
        color: #fff;
        text-transform: uppercase;
    }

    #indexContactForm label
    {
        display: none;
    }

        .indexSubmit
    {
        background-color: $grey;
        height: 30px;
        color: white;
        border: none;
        cursor: pointer;
        width: 10%;
        margin-bottom: 10px;
        margin-left: 140px;
        margin-top: 20px;
        float: right;
    }

        .indexSubmit:hover
    {
        background-color: #993333;
        height: 30px;
        color: white;
        border: none;
        cursor: pointer;
        width: 10%;
        margin-bottom: 10px;
        margin-left: 140px;
        margin-top: 20px;
        float: right;
    }
}

@media (min-width: 769px) {
    #indexBack
    {
        background-color: $dark-grey;
    }

    .qualities
    {
        width: 33%;
        height: 250px;
        float: left;
        text-align: center;
        margin-top: 30px;
    }

    #indexAbout
    {
        background-color: $dark-grey;
    }

    #indexAboutTitle 
    {
        text-align: center;
        width: 100%;
    }

    #indexAboutTitle h2
    {
        position: absolute;
        top: 650px;
        font-family: 'Avenir', sans-serif;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        margin-left: 410px;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 3.5em;
        letter-spacing: 0.4em;
    }

    #indexAboutTitle
    {
        margin: 0;
    }

    #indexAboutText
    {
        font-family: 'Avenir', sans-serif;
        font-size: 1em;
        width: 100%;
        letter-spacing: 0.05em;
        text-align: center;
        padding: 0;
        padding-bottom: 50px;
    }

    #indexAboutText p 
    {
        width: 45%;
        text-align: center;
        margin: 0 auto;
        color: #f1f1f1;
        padding-bottom: 40px;
        font-weight: lighter;
        font-size: 1em;
        letter-spacing: 0.09em;
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.7em;
    }

    #indexAboutText a
    {
        color: #fff;
        font-family: 'Avenir', sans-serif;
        font-size: 1em;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 50px;
       
    }

    .linkMore a
    {
        padding-bottom: 50px;
    }

    #indexAboutText a:hover
    {
        text-shadow: 2px 2px 20px #fff;
    }

    //Services
    .services 
    {
        width: 50%;
    }

    #indexServices
    {
        background-color: #ffffff;
        height: 650px;
    }

    #indexServicesTitle
    {
        text-align: center;
        width: 100%;
    }

    #indexServicesTitle h3
    {
        position: absolute;
        top: 1240px;
        font-family: 'Avenir', sans-serif;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        margin-left: 440px;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 3.5em;
        letter-spacing: 0.4em;
    }

    #serviceInfo h3
    {
        font-family: 'Avenir', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        padding: 0;
    }

    #serviceInfo 
    {
        width: 55%;
        text-align: left;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 70px;
    }

    #serviceIcons
    {
        font-size: 75px;
        text-align: center;
    }

    .fa
    {
        width: 200px;
    }

    //Recent Work
    #indexRecent
    {
        background-color: $dark-grey;
        width: 100%;
        clear: both;
    }

    #recentWork
    {
        background-color: $dark-grey;
    }
    .recentWorkExam
    {
        width: 50%;
        display: inline-block;
        padding: 0;
        float: left;
    }

    .recentWorkExam
    {
        filter: gray; /* IE5+ */
        -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
        -webkit-transition: all .1s ease-in-out;  
    }
        
    .recentWorkExam:hover 
    {
        filter: none;
        -webkit-filter: grayscale(0);
    }

    //Contact Form
    #contactVid
    {
        width: 100%;
    }
    #indexContactForm
    {
        width: 50%;
        background-color: $dark-grey;
        background-image: url("/images/contactBackground.jpg");
        margin: 0 auto;
        margin-top: 600px;
    }


        .indexForm
        {
            font-family: 'Avenir', sans-serif;
            display: block;
            margin: 0 auto;
        }

        #indexContactForm input[type=message] 
        {
            width: 75%;
            height: 50px;
            padding: 15px;
            margin-bottom: 20px;
            margin: 0 auto;
            border: none;
            margin-left: 35px;
            float: left;
            border-bottom: 1px solid white;
            background-color: $dark-grey;
            color: #fff;
            text-transform: uppercase;
        }

        #indexContactForm input[type=text] 
        {
            width: 75%;
            padding: 15px;
            margin-bottom: 20px;
            margin: 0 auto;
            border: none;
            margin-left: 35px;
            float: left;
            border-bottom: 1px solid white;
            background-color: $dark-grey;
            color: #fff;
            text-transform: uppercase;
        }

        #indexContactForm label
        {
            display: none;
        }

        .indexSubmit
    {
        background-color: #666;
        height: 30px;
        color: white;
        border: none;
        cursor: pointer;
        width: 10%;
        margin-bottom: 10px;
        margin-left: 140px;
        margin-top: 20px;
        float: right;
    }

        .indexSubmit:hover
    {
        background-color: #993333;
        height: 30px;
        color: white;
        border: none;
        cursor: pointer;
        width: 10%;
        margin-bottom: 10px;
        margin-left: 140px;
        margin-top: 20px;
        float: right;
    }

    .glitchImg {
        font-family: Helvetica;
        font-size: 80px;
        display:inline-block;
        top:10%;
      }
    .glitchImg:hover{
        animation: noise-3 0.5s linear;
        animation-iteration-count: 2; //Will only glitch once on hover so that it doesn't take away from image
      }
      
      @keyframes noise-3 {
        0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
        4.3% {opacity: 1; transform: scaleY(1.5);}
        43% {opacity: 1; transform: scaleX(10); transform: scaleY(.1);}
      }

    //Animation Reel  
    #animationReel
    {
        width: 100%;
        background-color: $dark-grey;
    }
    #controls
    {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    #controls button:hover
    {
        cursor: pointer;
    }

    #volume-inc-button
    {
        width: 200px;
    }

    #volume-dec-button
    {
        width: 200px;
    }
    
    #playPauseBtn
    {
        width: 75px;
    }

    #stopBtn
    {
        width: 75px;
    }

    #mute
    {
        width: 75px;
    }

    #controls .btn 
    {
        background-color: $dark-grey;
        color: #fff;
        border: none;
    }

    #curTime 
    {
        font-family: 'Avenir', sans-serif;
        font-size: 1em;
        color: #fff;
    }

    #totalTime
    {
        font-family: 'Avenir', sans-serif;
        font-size: 1em;
        color: #fff;
    }

    #slash
    {
        font-family: 'Avenir', sans-serif;
        font-size: 1em;
        color: #fff;
    }
}

    //SKILLS FLOAT TEXT

    // #skillsContainer
    // {
    //     width: 100%;
    //     height: 200px;
    //     position: fixed;
    // }
    // .skills {
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     z-index: 1;
    //     width: 100%;
    //     height: 200px;
    //   }
      
    //   .skills span 
    //   {
    //     color: $dark-grey;
    //     display: block;
    //     font-size: 0.7em;
    //     font-family: 'Helvetica';
    //     position: absolute;
    //     user-select: none;
    //     pointer-events: none;
    //     z-index: 1;
    //     opacity: 0;
    //     will-change: transform, opacity;
    //     animation-timing-function: ease-out;
    //     animation-name: move;
    //     width: 50%;
    //     height: 200px;
    //   }
      
    //   @keyframes move {
    //     0% {
    //       opacity: 0;
    //       transform: translateY(100vh);
    //     }
    //     25% {
    //       opacity: 1;
    //     }
    //     50% {
    //       opacity: 1;
    //     }
    //     75% {
    //       opacity: 0;
    //     }
    //     100% {
    //       opacity: 0;
    //       transform: none;
    //     }
    //   }
    // }