#intro p
{
    color: #bbb;
    font-weight: 5em;
    float: right;
    margin: 0 auto;

}

.quote
{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #000;
}


.quote h3
{
    font-family: "Avenir", sans-serif;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    mix-blend-mode: screen;
}

.quote h5
{
    font-family: "Avenir", sans-serif;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
    font-weight: lighter;
    letter-spacing: 0.4rem;
    font-size: 1.2em;
    position: relative;
    margin-top: 75px;
}

#photography h3
{
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    text-align: center;
    float: left;
    width: 50%;
    margin-top: 225px;
    color: #fff;
    font-size: 4em;
}

#photography p
{
    float: right;
    width: 40%;
    background-color: #000;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 150px;
    padding-bottom: 175px;
    padding-left: 50px;
    padding-right: 50px;

}

#video h3
{
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    text-align: center;
    float: left;
    width: 50%;
    margin-top: 225px;
    color: #fff;
    font-size: 4em;
}
#video p
{
    float: right;
    width: 40%;
    background-color: #000;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 150px;
    padding-bottom: 175px;
    padding-left: 50px;
    padding-right: 50px;

}

#animation h3
{
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    text-align: center;
    float: left;
    width: 50%;
    margin-top: 225px;
    color: #fff;
    font-size: 4em;
}

#animation p
{
    float: left;
    width: 40%;
    background-color: #000;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 50px;
    padding-right: 50px;

}