//WHY HIRE ME
@media (max-width: 479px) {
    #whyHire 
    {
        margin: 5px;
    }
    #whyHire h2 
    {
        font-family: 'Avenir', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.7em;
        letter-spacing: 0.2em;
        text-shadow: 2px 2px rgb(145, 141, 141);
    }
    #whyHire h5
    {
        font-family: 'Avenir', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 0.85em;
        font-weight: lighter;

    }
    #whyHire p 
    {
        font-family: 'Avenir', sans-serif;
        text-align: center;
        font-size: 0.8em;
        font-weight: lighter;
        padding-bottom: 30px;
    }

    .whyHireIcons
    {
        width: 65px;
        height: 65px

    }

    .qualities
    {
        width: 50%;
        height: 230px;
        float: left;
        text-align: center;
    }

    }

@media screen and (min-width: 480px) and (max-width: 769px) {
    #whyHire 
    {
        margin: 5px;
    }
    #whyHire h2 
    {
        font-family: 'Avenir', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5em;
        letter-spacing: 0.3em;
        text-shadow: 2px 2px #8B0505;
    }
    #whyHire h5
    {
        font-family: 'Avenir', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 1em;
        font-weight: lighter;

    }
    #whyHire p 
    {
        font-family: 'Avenir', sans-serif;
        text-align: center;
        font-size: 0.8em;
        font-weight: lighter;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .whyHireIcons
    {
        width: 65px;
        height: 65px
    }

    .qualities
    {
        width: 33%;
        height: 250px;
        float: left;
        text-align: center;
    }
}

@media (min-width: 769px) {
    #whyHire 
    {
        margin: 5px;
        width: 80%;
        margin: 0 auto;
    }
    #whyHire h2 
    {
        font-family: 'Avenir', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 2em;
        letter-spacing: 0.3em;
        font-weight: lighter;
        margin-top: 80px;
        text-shadow: 2px 2px #8B0505;
    }
    #whyHire h5
    {
        font-family: 'Avenir', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 0.9em;
        font-weight: lighter;


    }
    #whyHire p 
    {
        font-family: 'Avenir', sans-serif;
        text-align: center;
        font-size: 0.85em;
        font-weight: lighter;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .whyHireIcons
    {
        width: 55px;
        height: 55px
    }

    .qualities
    {
        width: 33%;
        height: 250px;
        float: left;
        text-align: center;
        margin-top: 30px;
    }


}