.backBtn a
{
    font-family: $body-text;
    padding: 15px;
    text-decoration: none;
    text-transform: lowercase;
}

.backBtn
{
    margin-top: 15px;
    
}

@media (max-width: 479px) {
    .portHeader h3
    {
        font-family: $header-font;
        font-size: 4em;
        font-weight: bolder;
        text-transform: uppercase;
        margin: 0;
        color: #fff;
        margin-left: 40px;
    }
    
    .portHeader h5
    {
        font-family: $header-font;
        font-size: 1.8em;
        font-weight: lighter;
        margin: 0;
        color: #fff;
        margin-left: 40px;
        padding-top: 90px;
        font-style: oblique;
    }
    
    .portHeader img 
    {
        width: 45%;
        float: right;
        margin-top: 50px;
    }

    .portHeader h3
{
    font-family: $header-font;
    font-size: 1.7em;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    margin-left: 20px;
}

.portHeader h5
{
    font-family: $header-font;
    font-size: 1em;
    font-weight: lighter;
    margin: 0;
    color: #fff;
    margin-left: 20px;
    padding-top: 10px;
    font-style: oblique;
}
    .proInfo h3
{
    font-family: $header-font;
    font-size: 1.5em;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 0;
}

.proInfo h5
{
    font-family: $header-font;
    font-size: 1.1em;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.proInfo h6
{
    font-family: $header-font;
    font-size: 1.3em;
    font-weight: lighter;
    margin: 0;
}

.proInfo h4
{
    font-family: $header-font;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0;
}

.proInfo p
{
    font-family: $header-font;
    font-size: 0.9em;
    font-weight: lighter;
    padding: 0;
}

.proInfo
{
    width: 100%;
}

.portfolio
{
    width: 90%;
    margin: 0 auto;
}

.portImg
{
    width: 40%;
    float: right;
    clear: both;
}

.proCap
{
    font-family: $header-font;
    font-size: 1.7em;
    font-style: oblique;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.programIcons
{
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.programIcons img 
{
    width: 35px;
    text-align: center;
    padding: 10px;
}

.morePics 
{
    width: 100%;
    display: inline-block;
    clear: both;
}

//INDIVIDUAL PORTFOLIO PIECE HEADERS
#lsfcHeader
{
    background-color: #f4bf42;
    width: 100%;
    height: 200px;
}

#engageHeader
{
    background-color: #3f3f3f;
    width: 100%;
    height: 200px;
}

#melloHeader
{
    background-color: #cce4e8;
    width: 100%;
    height: 200px;
}

#audiHeader
{
    background-color: #000;
    width: 100%;
    height: 200px;
}

#casualHeader
{
    background-color: #2e6fcc;
    width: 100%;
    height: 200px;
}

#ifrcHeader
{
    background-color: #f8ceba;
    width: 100%;
    height: 200px;
}

#velveetaHeader
{
    background-color: #c9ced1;
    width: 100%;
    height: 200px;
}

#infoHeader
{
    background-color: #a6a9d4;
    width: 100%;
    height: 200px;
}

#photoHeader
{
    background-color: #b2b3ae;
    width: 100%;
    height: 300px;
}

#teamHeader
{
    background-color: #30004b;
    width: 100%;
    height: 200px;
}


#organVid
{
    width: 100%;
    position: relative;
    clear: both;
}

#melloVidDes
{
    display: none;
}

#melloVidMob
{
    margin: 0 auto;
    text-align: center;
    padding-left: 60px;
}

#melloVidBottle
{
    width: 100%;
}

.velveetaLabels
    {
        display: none;
    }

#casualBTSDes
{
    display: none;
}

#casualBTSTab
{
    display: none;
}

#casualBTSMob
{
    width: 350px;
    height: auto;
}

#numbersDes
{
    display: none;
}

#numbersTab
{
    display: none;
}

#numbersMob
{
    width: 350px;
    height: auto;
}

#photoCheatTab
{
    display: none;
}

#photoCheatDes
{
    display: none;
}

#photoCheatMob
{
    width: 350px;
    padding: 0;
    text-align: center;
}

#portInfographTab
{
    display: none;
}

#portInfographDes
{
    display: none;
}
}

@media screen and (min-width: 480px) and (max-width: 769px) {

    .proCap {
        font-style: oblique;
        width: 80%;
        font-size: 1.4em;
        text-align: center;
        margin: 0 auto; 
    }
    
    .portHeader h3 
    {
        font-family: $header-font;
        font-size: 2.5em;
        text-transform: uppercase;
        margin: 0;
        padding-left: 40px;
        color: #fff;
    }

    .portImgHead
    {
        width: 50%;
        margin-top: 50px;
    }
    
      .portHeader h5 
    {
        font-family: $header-font;
        font-size: 1.5em;
        font-weight: lighter;
        text-transform: lowercase;
        margin: 0;
        color: $dark-grey;
        padding-left: 40px;
        font-style: oblique;
        padding-top: 50px; 
    }
    
    .proInfo h3
    {
        font-family: $header-font;
        font-size: 2em;
        font-weight: lighter;
        text-transform: uppercase;
        margin: 0;
    }
    
    .proInfo h5
    {
        font-family: $header-font;
        font-size: 1.1em;
        font-weight: lighter;
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }
    
    .proInfo h6
    {
        font-family: $header-font;
        font-size: 1.2em;
        font-weight: lighter;
        margin: 0;
    }
    
    .proInfo h4
    {
        font-family: $header-font;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: lighter;
        margin: 0;
    }
    
    .proInfo p
    {
        font-family: $header-font;
        font-size: 0.9em;
        font-weight: lighter;
        padding: 0;
        margin-left: 20px;
    }
    
    .proInfo
    {
        width: 60%;
    }
    
    .portfolio
    {
        width: 90%;
        margin: 0 auto;
    }
    
    .portImgHead
    {
        width: 40%;
        float: right;
        clear: both;
        padding-left: 20px;
    }

    .proInfo p
{
    font-family: $body-text;
    font-size: 1.1em;
    font-weight: lighter;
    padding: 0;
}

.proCap
{
    font-family: $body-text;
    font-size: 1.2em;
    font-style: oblique;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.proInfo
{
    width: 90%;
    margin: 0 auto;
}

.programIcons
{
    font-size: 55px;
    text-align: center;
}

.programIcons img
{
    width: 55px;
    text-align: center;
}
    
.morePics 
{
    width: 100%;
    display: inline-block;
    clear: both;
}

.morePics img
{
    width: 49%;
    display: inline-block;
    clear: both;
}

//INDIVIDUAL PORTFOLIO PIECE HEADERS
#lsfcHeader
{
    background-color: #f4bf42;
    width: 100%;
    height: 300px;
}

#engageHeader
{
    background-color: #3f3f3f;
    width: 100%;
    height: 300px;
}

#melloHeader
{
    background-color: #cce4e8;
    width: 100%;
    height: 300px;
}

#audiHeader
{
    background-color: #000;
    width: 100%;
    height: 300px;
}

#casualHeader
{
    background-color: #2e6fcc;
    width: 100%;
    height: 300px;
}

#ifrcHeader
{
    background-color: #f8ceba;
    width: 100%;
    height: 300px;
}

#velveetaHeader
{
    background-color: #c9ced1;
    width: 100%;
    height: 300px;
}

#infoHeader
{
    background-color: #b2b3ae;
    width: 100%;
    height: 300px;
}

#photoHeader
{
    background-color: #b2b3ae;
    width: 100%;
    height: 300px;
}

#teamHeader
{
    background-color: #30004b;
    width: 100%;
    height: 300px;
}

    #melloVidDes
    {
        width: 40%;
        float: right;
        position: relative;
        clear: both;
    }
    
    #melloVidMob
    {
        display: none;
    }

    #melloVidBottle
    {
        float: right;
        width: 40%;
        height: auto;
        clear: both;
        position: relative;
        padding: 0;
    }

    .velveetaLabels
    {
        display: none;
    }

    #casualBTSDes
    {
        display: none;
    }

    #casualBTSMob
    {
        display: none;
    }

    #casualBTSTab
    {
        float: right;
        width: 350px;
        padding-left: 20px;
    }
    
    #numbersDes
    {
        display: none;
    }

    #numbersMob
    {
        display: none;
    }

    #casualBTSTab
    {
        float: right;
        width: 350px;
        padding-left: 20px;
    }

    #photoCheatMob
    {
        display: none;
    }

    #photoCheatDes
    {
        display: none;
    }

    #photoCheatTab
    {
        float: right;
        width: 40%;
        padding-left: 30px;
    }

    #portInfographMob
    {
        display: none;
    }

    #portInfographDes
    {
        display: none;
    }

    #portInfographTab
    {
        float: right;
        width: 40%;
        padding-left: 40px;
    }
}

@media screen and (min-width: 770px) {

.portHeader h3
{
    font-family: $header-font;
    font-size: 4em;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    margin-left: 40px;
}

.portHeader h5
{
    font-family: $header-font;
    font-size: 1.8em;
    font-weight: lighter;
    margin: 0;
    color: #fff;
    margin-left: 40px;
    padding-top: 90px;
    font-style: oblique;
}

.portHeader img 
{
    width: 40%;
    float: right;
    margin-top: 50px;
}

.proInfo h5
{
    font-family: $header-font;
    font-size: 1.3em;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.proInfo h6
{
    font-family: $header-font;
    font-size: 2em;
    font-weight: bolder;
    margin: 0;
    text-transform: uppercase;
    font-style: oblique;
}

.proInfo h4
{
    font-family: $header-font;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0;
}

.proInfo p
{
    font-family: $header-font;
    font-size: 1.3em;
    font-weight: lighter;
    padding: 0;
}

.proCap
{
    font-family: $header-font;
    font-size: 1.7em;
    font-style: oblique;
    margin-left: 20px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.proInfo
{
    width: 70%;
    margin: 0 auto;
}

.programIcons
{
    font-size: 75px;
    text-align: center;
}

.programIcons img
{
    width: 75px;
    text-align: center;
}

.portfolio
{
    width: 90%;
    margin: 0 auto;
}

.portVideos
{
    width: 100%;
}

.morePics img
{
    width: 45%;

}

.morePics video 
{
    width: 50%;

}

.morePics 
{
    width: 100%;
    display: inline-block;
    clear: both;
}

.velImg img
{
    width: 100%;
}

//INDIVIDUAL PORTFOLIO PIECE HEADERS
#lsfcHeader
{
    background-color: #f4bf42;
    width: 100%;
    height: 500px;
}

#engageHeader
{
    background-color: #3f3f3f;
    width: 100%;
    height: 500px;
}

#melloHeader
{
    background-color: #cce4e8;
    width: 100%;
    height: 500px;
}

#audiHeader
{
    background-color: #000;
    width: 100%;
    height: 500px;
}

#casualHeader
{
    background-color: #2e6fcc;
    width: 100%;
    height: 500px;
}

#ifrcHeader
{
    background-color: #f8ceba;
    width: 100%;
    height: 500px;
}

#velveetaHeader
{
    background-color: #c9ced1;
    width: 100%;
    height: 500px;
}

#infoHeader
{
    background-color: #a6a9d4;
    width: 100%;
    height: 500px;
}

#photoHeader
{
    background-color: #b2b3ae;
    width: 100%;
    height: 500px;
}

#teamHeader
{
    background-color: #30004b;
    width: 100%;
    height: 500px;
}


#melloVidDes
{
    width: 40%;
    float: right;
    position: relative;
    clear: both;
}

#melloVidMob
{
    display: none;
}

#melloVidBottle
{
    width: 50%;
    margin: 0 auto;
}

.velveetaLabelsMob
{
    display: none;
}

#casualBTSDes
{
    float: right;
}

#casualBTSMob
{
    display: none;
}

#casualBTSTab
{
    display: none;
}

#numbersDes
{
    float: right;
}

#numbersMob
{
    display: none;
}

#numbersTab
{
    display: none;
}

#photoCheatMob
{
    display: none;
}

#photoCheatTab
{
    display: none;
}

#photoCheatDes
{
    float: right;
    width: 40%;
}

#portInfographMob
    {
        display: none;
    }

#portInfographTab
    {
        display: none;
    }
#portInfographDes
{
    float: right;
    width: 50%;
    padding-left: 50px;
}
}
